@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
   margin: 0;
   padding:0;
   box-sizing: border-box;
   font-family:'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
     
        background-image: url(../css/img/tijerabcgtransparencia.png);
        background-color:rgb(230, 221, 221);
         
      
}

h1 {
    color: #c02951;
    font-size: 35px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

h2 {
    color:#f3cad5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

h3 {
    color:#f3cad5;
    

}

.formularios {
  
  background: #1a1a1d;
  height: 500px;
  width: 80%;
  border-radius: 30px;
  margin: auto;
  margin-top: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 55px;  
  color: #f3cad5;
  line-height: 15pt; 
  justify-content: center;
}

.informacion {
    height: 30px;
    width: 200px;
    margin: 20px;   

}


.containerBoton {
    display: flex;
    margin-top :80px;
    justify-content: center;
}
.botones {
    
    justify-content: center;
    flex-direction: columns;     
    width: 150px ;
    height: 40px;
    margin: 20px;

}

.button-carga {
    display: flex;
}
#botonAceptar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color:rgb(0, 0, 0);
    font-weight: 600;
}

.containerBoton{
    
    background-color: #c02951;
}
.contClientes {
    background-color: bisque;
}

#datosCargadosCliente {
    display: flex;
    margin:auto;
    padding : 20px;
    width: 80%;
    line-height: 1.5rem;
    height:fit-content;
    background-color:#c02951;
}